@page "/transport"

@inject IProductService baraaservice;
@inject IWarehouseService warehouseService;
@inject JsInterop js;

<PageTitle>Transport</PageTitle>

@if (WareHouses == null)
{
    <h3>Loading ...</h3>
}
else
{
    <div>
        <h3>WareHouses</h3>
        <table class="table">
            @*            <thead>
        <tr>
        <th>WareHouse Name</th>
        <th>Items</th>
        </tr>
        </thead>*@
            <tbody>
                @foreach (var wareHouse in WareHouses)
                {
                    @*                    <tr>
            <td>@wareHouse.Name Warehouse</td>
            <td></td>
            </tr>*@
                    <tr>
                        <td colspan="2">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div>@wareHouse.Name items</div>

                                            <div>
                                                <button @onclick="()=> OnAddButtonClick(wareHouse.Id)">Add Products</button>
                                            </div>
                                            <div>
                                                <button @onclick="()=> OnSeeReportClick(wareHouse.Id)">See Report</button>
                                            </div>
                                        </th>
                                        <th>Code</th>
                                        <th>Price</th>
                                        <th>Count</th>
                                        <th>Unit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in wareHouse.Items)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Code</td>
                                            <td>@item.Price</td>
                                            <td>@item.Count</td>
                                            <td>@item.Meas</td>
                                            <td>
                                                <button @onclick="()=> OnSellButtonClick(item)">Sell</button>
                                                <button @onclick="()=> OnTranserClicked(item)">Transfer</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Modal @ref="AddModal" OnSaveChanges="OnModalAddSave">
            <Title>
                Add item to Warehouse
            </Title>
            <Body>
                <div class="container">

                    <div class="row">
                        <div class="col col-sm-12">
                            <select @bind="ModalSelectedItemCode" style="width: 25%">
                                @foreach (var item in Baraanuud)
                                {
                                    <option value="@item.Code">@item.Code</option>
                                }
                            </select>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Count</label>
                        </div>
                        <div class="col">
                            <input type="number" @bind-value="addmodalCount">
                        </div>
                    </div>
                    @if (AddModalBaraa != null)
                    {

                        <div class="row">
                            <div class="col">
                                <label>Name</label>
                            </div>
                            <div class="col">

                                <label>@AddModalBaraa.Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Price</label>
                            </div>
                            <div class="col">

                                <label>@AddModalBaraa.Price</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Unit of Measure</label>
                            </div>
                            <div class="col">

                                <label>@AddModalBaraa.Meas</label>
                            </div>
                        </div>
                    }
                </div>
            </Body>
        </Modal>
        <Modal @ref="TransferModal" OnSaveChanges="OnModalTransferSave">
            <Title>
                Transfer item to Warehouse
            </Title>
            <Body>
                <div class="container">
                    <div class="row">
                        <div class="col col-sm-12">
                            <select @bind="transferringWareId" style="width: 25%">
                                @foreach (var item in WareHouses)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Count</label>
                        </div>
                        <div class="col">
                            <input type="number" @bind-value="transferModalCount">
                        </div>
                    </div>
                    @if (TransferBaraa != null)
                    {

                        <div class="row">
                            <div class="col">
                                <label>Name</label>
                            </div>
                            <div class="col">

                                <label>@TransferBaraa.Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Price</label>
                            </div>
                            <div class="col">

                                <label>@TransferBaraa.Price</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Unit of Measure</label>
                            </div>
                            <div class="col">

                                <label>@TransferBaraa.Meas</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Count:</label>
                            </div>
                            <div class="col">

                                <h3>@TransferBaraa.Count</h3>
                            </div>
                        </div>
                    }
                </div>
            </Body>
        </Modal>
        <Modal @ref="SellModal" OnSaveChanges="OnSellSave">
            <Title>
                Transfer item to Warehouse
            </Title>
            <Body>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label>Count</label>
                        </div>
                        <div class="col">
                            <input type="number" @bind-value="SellingModalCount">
                        </div>
                    </div>
                    @if (TransferBaraa != null)
                    {

                        <div class="row">
                            <div class="col">
                                <label>Name</label>
                            </div>
                            <div class="col">

                                <label>@TransferBaraa.Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Price</label>
                            </div>
                            <div class="col">

                                <label>@TransferBaraa.Price</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Unit of Measure</label>
                            </div>
                            <div class="col">

                                <label>@TransferBaraa.Meas</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Count:</label>
                            </div>
                            <div class="col">

                                <h3>@TransferBaraa.Count</h3>
                            </div>
                        </div>
                    }
                </div>
            </Body>
        </Modal>
    </div>
}



@code {
    WareHouse wareHouse = new WareHouse();
    private List<WareHouse>? WareHouses;
    private List<Product>? Baraanuud;
    Modal AddModal;
    Modal TransferModal;
    Modal SellModal;
    Product AddModalBaraa = new Product();
    WareProduct TransferBaraa = new WareProduct();
    WareProduct SellBaraa = new WareProduct();
    private int modalSelectedItemCode = 1;
    public int ModalSelectedItemCode
    {
        get { return modalSelectedItemCode; }
        set
        {
            if (modalSelectedItemCode != value)
            {
                RefreshAddModalBaraa(value);
            }
            modalSelectedItemCode = value;
        }
    }
    int transferringWareId = 0;//Used for product count on modal
    int transferModalCount = 0;//Used for product count on modal
    int SellingModalCount = 0;//Used for product count on modal
    int addmodalCount = 0;//Used for product count on modal

    protected override async Task OnInitializedAsync()
    {
        await warehouseService.GetWareHousesWithItemsAsync();
        await baraaservice.GetItemsAsync();
        WareHouses = warehouseService.WareHouses;
        Baraanuud = baraaservice.Items;
    }
    int lastClickedWarehouseId = 0;
    public void OnAddButtonClick(int warehouseId)
    {
        lastClickedWarehouseId = warehouseId;
        RefreshAddModalBaraa(ModalSelectedItemCode);
        AddModal.Open();
    }
    public void OnSeeReportClick(int warehouseId)
    {
        Console.WriteLine("Report");
    }

    public void OnTranserClicked(WareProduct wareProduct)
    {
        TransferBaraa = wareProduct;
        TransferModal.Open();
    }
    public void OnSellButtonClick(WareProduct wareProduct)
    {
        SellBaraa = wareProduct;
    }

    public async Task OnModalAddSave()
    {
        if (AddModalBaraa != null && Baraanuud.Any(x => x.Code == AddModalBaraa.Code) && addmodalCount > 0)
        {
            TransactionProd prod = new TransactionProd();
            prod.ProductName = AddModalBaraa.Name;
            prod.ProductPrice = AddModalBaraa.Price;
            prod.ProductMeas = AddModalBaraa.Meas;
            prod.ProductCount = addmodalCount;
            prod.ToWareHouseId = lastClickedWarehouseId;
            prod.FromWareHouseId = 0;
            prod.TransactionDate = DateTime.Now;
            prod.ProductCode = AddModalBaraa.Code;
            await warehouseService.AddProductToWareHouse(prod);
            await warehouseService.GetWareHousesWithItemsAsync();
            WareHouses = warehouseService.WareHouses;
        }
        else
        {
            js.Alert("Алдаатай хүсэлт");
        }
        AddModal.Close();
        //await baraaservice.EditItem(Modal.editingBaraa);
        //Modal.ResetBaraa();
    }
    public async Task OnModalTransferSave()
    {
        if (TransferBaraa != null && WareHouses.Any(x => x.Id == transferringWareId) && transferModalCount > 0 && transferModalCount <= TransferBaraa.Count)
        {
            TransactionProd prod = new TransactionProd();
            prod.ProductName = TransferBaraa.Name;
            prod.ProductPrice = TransferBaraa.Price;
            prod.ProductMeas = TransferBaraa.Meas;
            prod.ProductCount = transferModalCount;
            prod.ToWareHouseId = transferringWareId;
            prod.FromWareHouseId = TransferBaraa.WareHouseId;
            prod.TransactionDate = DateTime.Now;
            prod.ProductCode = TransferBaraa.Code;
            await warehouseService.AddProductToWareHouse(prod);
            await warehouseService.GetWareHousesWithItemsAsync();
            WareHouses = warehouseService.WareHouses;
        }
        else
        {
            js.Alert("Алдаатай хүсэлт");
        }
        TransferModal.Close();
        //await baraaservice.EditItem(Modal.editingBaraa);
        //Modal.ResetBaraa();
    }
    public async Task OnSellSave()
    {
        if (SellBaraa != null && SellingModalCount > 0 && SellingModalCount <= SellBaraa.Count)
        {
            TransactionProd prod = new TransactionProd();
            prod.ProductName = SellBaraa.Name;
            prod.ProductPrice = SellBaraa.Price;
            prod.ProductMeas = SellBaraa.Meas;
            prod.ProductCount = SellingModalCount;//Todo
            prod.ToWareHouseId = 0;//Todo
            prod.FromWareHouseId = SellBaraa.WareHouseId;
            prod.TransactionDate = DateTime.Now;
            prod.ProductCode = SellBaraa.Code;
            await warehouseService.AddProductToWareHouse(prod);
            await warehouseService.GetWareHousesWithItemsAsync();
            WareHouses = warehouseService.WareHouses;
        }
        else
        {
            js.Alert("Алдаатай хүсэлт");
        }
        SellModal.Close();
        //await baraaservice.EditItem(Modal.editingBaraa);
        //Modal.ResetBaraa();
    }

    void RefreshAddModalBaraa(int val)
    {
        if (Baraanuud != null && Baraanuud.Any())
        {
            AddModalBaraa = Baraanuud.FirstOrDefault(x => x.Code == val);
        }
    }
}

